body, html {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    }
    
    
    #map {
    height: 100%;
    width: 100%;
    position: absolute;
    }
    
    
    #title-container {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px
;
    margin: 32px;
    padding: 16px;
    width: 300px;
    }
    
    
    h1 {
    margin: 0;
    }
    
    
    #title-container h1 {
    color: rgb(47, 47, 47);
    }
    
    
    #title-container p {
    color: #000000;
    }
    
    
    a {
    color: #0773ff;
    }
    